<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Paulo Henrique Sales Sampaio">

        <title>Cadastro de Usuário</title>

        <!-- Bootstrap core CSS -->
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        
        <div class="container">
            <div class="py-5 text-center">
                <h2>Cadastro de Usuário</h2>
                <p class="lead">Realize atualizações no cadastro de usuários <%= usuario._id %> </p>
                <span> <%= usuario._id %> </span>
            </div>

            <form action="/atualizarUsuario" method="POST" novalidate>

                <input id="id" name="id" hidden="hidden" value="<%= usuario._id %>">
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="primeiroNome">Primeiro Nome</label>
                        <input type="text" class="form-control" id="primeiroNome" name="primeiroNome" value="<%= usuario.primeiroNome %>">
                        <div class="invalid-feedback">
                            O nome é obrigatório
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="ultimoNome">Último Nome</label>
                        <input type="text" class="form-control" id="ultimoNome" name="ultimoNome" placeholder="" value="<%= usuario.ultimoNome %>" required>
                        <div class="invalid-feedback">
                            O nome é obrigatório
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="nomeUsuario">Nome de Usuário</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" placeholder="" value="<%= usuario.nomeUsuario %>" required>
                            <div class="invalid-feedback" style="width: 100%;">
                            O Nome de usuário é obrigatório
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="email">Email<span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@teste.com" value="<%= usuario.email %>">
                        <div class="invalid-feedback">
                            Informe um email válido
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-8">
                        <label for="endereco">Endereço</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="" value="<%= usuario.endereco %>" required>
                        <div class="invalid-feedback">
                            Informe um endereço válido
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="numero">Número</label>
                        <input type="text" class="form-control" id="numero" name="numero" placeholder="" value="<%= usuario.numero %>" required>
                        <div class="invalid-feedback">
                            O número é obrigatório
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="telefone" name="telefone" placeholder="" value="<%= usuario.telefone %>" required>
                        <div class="invalid-feedback">
                            Informe um telefone válido
                        </div> 
                    </div>
                    <div class="col-md-6">
                        <label for="dtNascimento">Data de nascimento</label>
                        <input type="date" class="form-control" id="dtNascimento" name="dtNascimento" placeholder="" value="<%= usuario.dtNascimento %>" required>
                        <div class="invalid-feedback">
                            Informe um telefone válido
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary" value="Salvar Alterações">
                    </div>
                </div>
            </form>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; <%= new Date().getFullYear() %> Paulo Sampaio</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </footer>
        </div>
    
        <!-- Bootstrap core JavaScript -->
        <script src="/popper/dist/umd/popper.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>